body {
  background-color: bisque;
}

.App {
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
}

.timerContainer {
  margin-left: 20%;
  margin-bottom: 5%;
  border-style: solid;
  border-radius: 50%;
  width: 500px;
  height: 500px;
}

.top-padding {
  height: 100px;
}

.time-left {
  font-size: 35mm;
}

.start-stop-button,
.skip-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: none;
  font-size: 7mm;
  margin: 10px;
  cursor: pointer;
  background-color: grey;
  color: white;
}

.time-label {
  font-size: 10mm;
}

.modal-button {
  background-color: transparent;
  border: none;
  font-size: 10mm;
  cursor: pointer;
}

.timer-modal {
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  position: fixed; /* Stay in place */
  z-index: 1;
  overflow: auto; /* Enable scroll if needed */
  left: 10%;
  top: 10%;
  padding-top: 100px; /* Location of the box */
  background-color: rgba(255, 255, 255, 0.98); /* Fallback color */
}

.settings-container {
  width: 50%;
  margin-left: 30%;
}
.session-input,
.break-input {
  font-size: 10mm;
  width: 50%;
}

.close-modal {
  cursor: pointer;
  font-size: 10mm;
}
